.chats-body .header,
.chats-body .status-bar {
  padding: 0px 20px;
  background-image: url("../images/chatBg.png");
}

.chats-body {
  padding: 0px 20px;
  background-image: url("../images/chatBg.png");
}

.chat__write {
  position: fixed;
  bottom: 50px;
  width: 87%;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfcfc;
  padding: 3px 18px;
  border-radius: 40px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.chat__write i {
  font-size: 22px;
}

.chat__write-icon .fa-arrow-up {
  margin-left: 4px;
  font-size: 18px;
  background-color: #ffe702;
  padding: 4px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #f7f7f7;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat__write-column input {
  padding: 10px;
  width: 100%;
  border: none;
  font-size: 14px;
}

.chat__write-column input:focus {
  outline: none;
}
