.name__header-column {
  align-items: center;
}

.name__header-column i {
  font-size: 30px;
}

.name__header-column span {
  font-size: 20px;
  color: gray;
}

.name__header-title {
  margin-left: 10px;
}

.name {
  margin-top: 125px;
}

.enter-name {
  display: flex;
  flex-direction: column;
}

.enter-name span {
  margin-top: 20px;
  padding-left: 6px;
}

.enter-name input {
  margin-top: 10px;
  padding: 7px 6px;
  font-size: 16px;
}
