.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.friend .friend__avatar {
  width: 55px;
  height: 55px;
  border-radius: 100%;
}
.friend__avatar:hover {
  animation: spin 1s linear infinite;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.04) 0px -6px 16px -6px;
}

.friend__avatar.g-avatar {
  width: 70px;
  height: 70px;
}

.friend .friend__column {
  display: flex;
  align-items: center;
}

.friend .friend__avatar {
  margin-right: 15px;
}

.friend__content .friend__name {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.friend__content .friend__status,
.friend__content .friend__bottom-text,
.friend .chat__timestamp {
  opacity: 0.6;
}

.friend__content .friend__bottom-text {
  font-size: 14px;
}

.friend__content .friend__status,
.friend .chat__timestamp {
  font-size: 12px;
}

.friend .friend__now-listening {
  border: 1.5px solid #08a95f;
  padding: 6px 12px;
  border-radius: 15px;
  font-size: 13px;
}

.friend__now-listening span {
  opacity: 0.6;
}

.friend__now-listening i {
  font-size: 12px;
  margin-left: 5px;
}

.friend__add-btn {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: #f5f5f5;
  padding: 10px 14px;
  border-radius: 5px;
}

@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}
