.friends {
  margin: 125px 20px 0px 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.friends .friends__plus {
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
}

.friends__plus .friends__title,
.friends__list .friends__title {
  font-size: 14px;
  opacity: 0.6;
  margin: 20px 0px;
}
