.more {
  margin: 130px 20px 0px 20px;
}

.more .more__btn-list {
  padding: 25px 20px 20px 28px;
  display: flex;
  align-items: center;
}

.more__btn-icon i {
  width: 10%;
  font-size: 50px;
}

.more__btn .more__btn-title {
  margin-top: 15px;
  font-size: 12px;
}

.more__btn-list .more__btn {
  width: 10%;
  margin-right: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.more .more__suggestions {
  border-top: 1px solid #f7f7f7;
  padding-top: 20px;
}

.more .more__suggestions-list {
  padding: 20px;
  display: flex;
  align-items: center;
}

.more .more__suggestion {
  margin-right: 43px;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.more__suggestions .suggestion__title {
  font-size: 12px;
  margin-top: 15px;
}

.more__suggestions .suggestion__icon {
  background-color: #27ae60;
  border: 1px solid #27ae60;
  border-radius: 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.more .more__title {
  font-size: 14px;
  opacity: 0.8;
}
